@import url(./login.css);
@import url(./cores.css);
@import url(./frontpage.css);

body {
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

ul {
  position: relative;
  padding-left: 25px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
a,
blockquote,
dd {
  margin: 0;
  padding: 0;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "poppins", sans-serif;
  color: var(--c9);
}

.form input {
  font: 400 1rem/1.5 "roboto", sans-serif;
  background: var(--c0);
  border: 1px solid var(--c1);
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.form input {
  outline: none;
  border-color: var(--c3);
  background-color: var(--c1);
  margin-bottom: 20px;
}

.botao {
  background-color: var(--p1);
  /* margin-top: 20px; */
  color: var(--c0);
  font-family: inherit;
  padding-left: 1em;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  letter-spacing: 1.5px;
  padding-right: 50px;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
  color: var(--c0);
}

.entrar:active {
  transform: translate(0.05em, 0.05em);
}

.separacao-layout {
  color: var(--c9);
}

.box {
  margin: 60px 0 20px 0;
}

.boxp {
  list-style: none;
  padding-left: 20px;
  margin: 30px 0 10px 0;
}

.boxp li {
  margin: 10px;
  position: relative;
}

.print {
  border-radius: 10px;
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--c3);
}

.img-expandir {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#overlay img {
  min-width: 10vw;
  min-height: 25vw;
  border-radius: 10px;
}

.boxp li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--p1);
  border-radius: 10px; /* quadrado perfeito */
  background: linear-gradient(160deg,#ff5511, #fdc60a);
  background-size: 1000% 200%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName s ease infinite;
}
